/* =Typography
-----------------------------------------------------------------------------*/
body {
	margin-top:20px;

}

/* Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}


/*Styles*/

#invoice {
	margin-left:5%;
	margin-right:5%;
}

#invoice input[type="text"], #invoice #company-address {
	border: none;
	outline:none;
	box-shadow: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	background: transparent;
	font-size:13px;

}

#invoice-header #company-address{
	height:70px;
}

#invoice-data tfoot .addFields {
	float:right;
	padding:0 5px;
	margin-right:10px;
}


#invoice-data tfoot tr td{
	padding: 0.25em 0;
}

#invoice-data tfoot tr td.spaced{
	padding: 0.75em 0.5em;

}

#invoice-data tfoot tr td input{
	margin:0;
	width:100%;
	padding:0.5em;
}


#invoice tfoot tr td.delete{
	padding:0.75em 0.5em;
}

#invoice tr td.delete{
	height:16px;
	width:16px;
	display: inline-block;
	text-align: center;
	border:none;
	background: none;
}

#invoice tbody tr td.delete{
	margin-top:0.5em;
}

#invoice tfoot tr td.delete{
	margin-top:0.1em;
}

#invoice tr td.delete:hover{
	background: #f2f2f2;
}

#invoice tr td.delete a{
	width:16px;
	display:inline-block;
	color: #555;
	text-decoration: none;
}

#invoice tr td.delete a:hover{
	color: red;
	text-decoration: none;
}

#invoice-data #amount{
	padding-top:1.2em;
}

#invoice-header #company-name{
	font-size:34px;
	line-height:40px;
	height:60px;
	width:100%;
}


#invoice.data #unit-price {
	min-width:80px;
}

#invoice.data #amount {
	min-width:90px;
}


#invoice input[type="text"]:hover, #invoice #company-address:hover {
	background-color: LightYellow;
}

#invoice input[type="text"]:focus, #invoice #company-address:focus {
	background-color: Cornsilk;
}

.forms.columnar ul li {
	margin: 5px 10px;
}

#invoice-to input[type="text"] {
	font-weight: bold;
}

#invoice .forms.columnar label {
	width:100px;
}


#invoice form tr td {
	vertical-align: middle;
}

/* Print */
@media print {
	.dontPrint{
		display:none !important;
	}

	.fillPrint{
		margin-left:0 !important;
		margin-right:0 !important;
	}
}
